<div class="jumbotron">
    <h1>TypeScriptDefinitionsGenerator Sample Website</h1>
    <p class="lead">Generate type safe definitions for your server-side code!</p>
    <p><a href="https://github.com/slovely/TypeScriptDefinitionsGenerator/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sample WebAPI method</h2>
        <p>Take a look at the simple TypeScript file in \scripts\app.ts, you can see it requests a 'Person' object from the server, and logs the name/gender of the person.
            Now rename the property in <code>Person.cs</code> to 'FirstName' instead, and rebuild. The build will fail as your TypeScript isn't in sync with the server!
            <em>Also try renaming the 'GetPerson' method on the WebApiController.</em>
        </p>
    </div>
</div>
